<div class = 'banner banner_index'>
  <%= render 'partials/navigation'%>
  <div class = 'container d_flex_vertical  m_top_15'>
    <h1 class = 'heading_medium'>Welcome to </h1>
    <h1 class = ' heading_large'>Recipe<span class = 'orange_color'>App</span></h1>
  </div>
</div>