
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2,h3 {
  margin: 0;
}

p {
 margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
}

.d_flex {
  display: flex;
}

.gap_10 {
  gap: 10px
}

.align_center {
  align-items: center;
}

.space_between {
  justify-content: space-between;
}

.banner {
  width: 100%;
  height: 600px;
  background-image: url('/app/assets/images/background.jpg');
  background-color: brown;
  background-size: 100%;
}

.navbar {
    padding: 10px;
}

.nav_link {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  transition: all 0.2s ease;
}

.nav_link:hover {
  color: orangered;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn_orange:hover {
  background-color: orange;
}
.btn_orange {
  background-color: orangered;
}

.recipe_card {
  background-color: rgba(165, 42, 42, 0.281);
  border-radius: 15px;
  margin: 20px 0;
  padding: 10px;
  transition: all 0.3s ease;
}

.recipe_card:hover {
  background-color: rgba(165, 42, 42, 0.438);
}

.white_color {
  color: white;
}

.bg_black {
    background-color: black;
}
